$bar-width: 30%;

.layout {
  position: relative;

  > div:first-child,
  > div:last-child {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    width: $bar-width;
    max-width: 350px;
  }

  > div:first-child {
    left:0;
  }

  > div:last-child {
    right:0;
  }

  .main {
    min-height: 100vh;
    padding: var(--layoutPadding);
    margin: 0 $bar-width;
  }
}

