.menu {
  margin-bottom: 14px;
  animation-name: fade;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;

  .heading {
    color: var(--gray-color-500);
    text-transform: uppercase;
    font-size: var(--text-sm);
    line-height: var(--line-height);
    font-weight: 600;
    padding-left: var(--layoutPadding);
    padding-top: 24px;
  }

  .ul {
    padding-left: var(--layoutPadding);
  }
}
